*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    background-color: #800080;
}

header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000; 
}

header h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 43px;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    font-style: italic;
    margin-top: -5px;
}

.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 28px;
    cursor: pointer;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    font-size: 12px;
}

footer img {
    width: 280px;
}

.canto-esquerdo {
    max-width: 300px;
    position: relative; top: 5px;}

.canto-direito {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.rotina-container{
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 10rem;
    background-color:#d115d199 ;
    z-index: 2;
}

.rotina-container > a {
    display: block;
    background-color: antiquewhite;
    
}

.retangulo-branco {
    background-color: white;
    width: 400px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}