body {
    background-color: #800080; /* Roxo do fundo */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

input {
    background-color: #eee;
    border: none;
    padding: 8px;
    width: 180px;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 16px;
}

button {
    margin-top: 25px;
    background-color: white;
    color: #800080;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #f2f2f2;
}

.resultado {
    margin-top: 30px;
    font-size: 18px;
}
