<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Equipe Organizamente</title>
  <link rel="stylesheet" href="desenvolvedores.css">
</head>
<body>
  <div class="container">

    <div class="card">
      <img src="img/margarida.jpeg" alt="Margarida Gabriela">
      <div class="info">
        <h3>Margarida Gabriela</h3>
        <p>17 anos</p>
        <p>Gosta de teologia reformada</p>
      </div>
    </div>

    <div class="card">
      <img src="img/maria-eduarda.jpeg" alt="Maria Eduarda">
      <div class="info">
        <h3>Maria Eduarda</h3>
        <p>17 anos</p>
        <p>Gosta de cuidar de plantinhas e jogos</p>
      </div>
    </div>

    <div class="card">
      <img src="img/dayvid.jpeg" alt="Dayvid Jhonatas">
      <div class="info">
        <h3>Dayvid Jhonatas</h3>
        <p>17 anos</p>
        <p>Gosta de videogames e xadrez</p>
      </div>
    </div>

    <div class="card">
      <img src="img/ana-liviah.jpeg" alt="Ana Liviah">
      <div class="info">
        <h3>Ana Liviah</h3>
        <p>17 anos</p>
        <p>Gosta de filmes e jogos de terror</p>
      </div>
    </div>

    <div class="card">
      <img src="img/josefa.jpeg" alt="Josefa Yasmim">
      <div class="info">
        <h3>Josefa Yasmim</h3>
        <p>17 anos</p>
        <p>Gosta de assistir romance e ler</p>
      </div>
    </div>

    <div class="card">
      <img src="img/marcelo.jpeg" alt="Marcelo Figueiredo">
      <div class="info">
        <h3>Marcelo Figueiredo</h3>
        <p>Professor do IFRN Campus Santa Cruz</p>
        <p>Co-orientador do projeto</p>
      </div>
    </div>

    <div class="card">
      <img src="img/maria-geovana.jpeg" alt="Maria Geovana">
      <div class="info">
        <h3>Maria Geovana</h3>
        <p>18 anos</p>
        <p>Gosta de dançar e desenhar</p>
      </div>
    </div>

    <div class="card">
      <img src="img/incognita.jpeg" alt="Cássia Revellianny">
      <div class="info">
        <h3>Cássia Revellianny</h3>
        <p>17 anos</p>
        <p>Gosta de desenhar e jogos de luta</p>
      </div>
    </div>

    <div class="card">
      <img src="img/adriana.jpeg" alt="Adriana Aquino">
      <div class="info">
        <h3>Adriana Aquino</h3>
        <p>Professora de inglês no IFRN Campus Santa Cruz</p>
        <p>Orientadora do projeto</p>
      </div>
    </div>

  </div>
</body>
</html>