<<<<<<<< HEAD:templates/dicas.html
========
{% load static %}
>>>>>>>> 31f5fdaa414a0c02114fb030ad06283a5bf95cd9:templates/master.html
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizamente</title>

    <!-- importar fonte de letra e css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
<<<<<<<< HEAD:templates/dicas.html
    <link rel="stylesheet" href="estilo.css">
========
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
>>>>>>>> 31f5fdaa414a0c02114fb030ad06283a5bf95cd9:templates/master.html

</head>

<body>
    <header>
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="textos">
            <h1>Organizamente</h1>
            <p>menos distração e mais ação!</p>
        </div>
    </header>

    <main>
        <!-- Aqui vai vir o conteúdo do site caso houver, se não, não precisará colocar nada-->
    </main>

    <footer>
        <div class="canto-esquerdo">
<<<<<<<< HEAD:templates/dicas.html
            <img src="img/if-santacruz-logo.png" alt="logo-IFRN">
========
            <img src="{% static 'img/if-santacruz-logo.png' %}" alt="logo-IFRN">
>>>>>>>> 31f5fdaa414a0c02114fb030ad06283a5bf95cd9:templates/master.html
        </div>
        <div class="canto-direito">
            <p>Orientadores: Adriana Quintino</p>
            <p>Co-orientadores: Marcelo Figueiredo</p>
        </div>
    </footer>
</body>

</html>