<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="estilo.css">
    
    <title>DetalhesDica</title>
</head>
<body>
    <header>
        <div>
            <div>
            
                <button>
                    <img src="Menu_icon(3).png" alt="Abas">
                </button>


            </div2>

            <h1>Organizamente</h1>
            <span>menos distração e mais ação</span>

        </div>

    </header>

    <nav>
    </nav>

    <main>

        <div>
            <h1>Entenda porque voce procrastina</h1>

            <span>Procrastinar não é apenas preguiça, é um mecanismo psicológico. 
                Muitas vezes, evitamos tarefas porque elas causam desconforto, ansiedade ou medo de falhar. 
                Em vez de enfrentá-las, buscamos distrações que oferecem recompensas imediatas, 
                como redes sociais ou entretenimento.
                Entender isso é o primeiro passo para mudar. 
                Ao reconhecer o que está por trás da sua procrastinação: 
                perfeccionismo, insegurança ou falta de clareza, você pode começar a agir com 
                mais consciência e construir hábitos mais saudáveis. 
                Essa é uma das menores dicas entre as outras, pois em todas as outras nós abordaremos vários tópicos 
                que poderão te ensinar sobre como melhorar seu rendimento acadêmico, no trabalho, 
                e até como descansar melhor. 
                A procrastinação pode ocorrer por várias razões, como: a falta de atenção, que pode ser causada 
                por estímulos externos, familiares atrapalhando, notificações no celular… entre outros.
                Além disso, para te ajudar, nossa equipe preparou mais 15 dicas além dessa que podem te fazer melhorar, boa sorte.</span>
        </div>


    </main> 
    
    
    <footer>

        <div>
            <img src="LogoIF.png" alt="LogoIF">
        </div>
        <div>
            <span> 
                Instituto Federal de Educação, <br>
                Ciência e Tecnologia do Estado do Rio Grande do Norte -
                Campus Santa Cruz 
            </span>

            <br>

            <h3> Orientadores:: Adriana Aquino <br>
                Co-orientadores:: Marcelo Figueiredo</h3>
               
            

        </div>

    </footer>


</body>
</html>