{% extends "master.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dica.css' %}">
{% endblock %}
{% block main %}


       <div class="container-dica">
    <div class="col-texto">
        <h2>{{ dica.dicaTitulo }}</h2>
        <p>{{ dica.textoDica }}</p>
    </div>
    <div class="col-imagem {% if not dica.image %}empty{% endif %}">
        {% if dica.image %}
            <img src="{% static dica.image %}" alt="{{ dica.dicaTitulo }}">
        {% endif %}
    </div>
</div>

{% endblock main %}