<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizamente</title>

    <!-- importar fonte de letra e css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="menuestilo.css">
</head>

<body>
    <div class="retangulo-fundo"></div> <!-- retângulo atrás do conteúdo -->

    <header>
        <div class="textos">
            <h4>menu de navegação</h4>
        </div>
    </header>

    <section class="rotina-container">
        <a href="{% url 'master' %}">Master</a>
        <button class="retangulo-branco">Minha conta</button>
        <button class="retangulo-branco">Dicas sobre minha rotina e hábitos</button>
        <button class="retangulo-branco">Saúde: cálculo imc</button>
        <button class="retangulo-branco">Meu cronograma</button>
        <button class="retangulo-branco">Task list</button>
        <button class="retangulo-branco">Ciclo do sono</button>
        <button class="retangulo-branco">Sobre os desenvolvedores</button>
    </section>

    <main>
        <!-- Aqui vai vir o conteúdo do site caso houver, se não, não precisará colocar nada-->
    </main>

    <footer>
        <div class="canto-esquerdo">
            <img src="img/if-santacruz-logo.png" alt="logo-IFRN">
        </div>
        <div class="canto-direito">
            <p>Orientadores: Adriana Quintino</p>
            <p>Co-orientadores: Marcelo Figueiredo</p>
        </div>
    </footer>
</body>

</html>