{% extends "master.html" %}
{% block main %}
    <div class="retangulo-fundo"></div> <!-- retângulo atrás do conteúdo -->

    <header>
        <div class="textos">
            <h4>menu de navegação</h4>
        </div>
    </header>

    <section class="rotina-container">
        <a href="{% url 'master' %}">Master</a>
        <button class="retangulo-branco">Minha conta</button>
        <button class="retangulo-branco">Dicas sobre minha rotina e hábitos</button>
        <button class="retangulo-branco">Saúde: cálculo imc</button>
        <button class="retangulo-branco">Meu cronograma</button>
        <button class="retangulo-branco">Task list</button>
        <a href="{% url "ciclodosono" %}">Ciclo do sono</a>
        <a href="{% url "tasklist" %}">Tasklist</a>
        <a href = "{% url "desenvolvedores" %}">Sobre os desenvolvedores</a>
    </section>
{% endblock %}

    